<mat-toolbar color="primary" class="mat-elevation-z8">
  <span routerLink="home">
    <mat-icon>account_balance_wallet</mat-icon> CashFlo
  </span>

  <div class="spacer"></div>
  <span [matMenuTriggerFor]="incomeMenu">Income</span>
  <div class="spacer2"></div>
  <span [matMenuTriggerFor]="expenseMenu">Expenses</span>
  <div class="spacer3"></div>

  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="user">
        <mat-icon color="primary">account_circle</mat-icon>
        <span>Profile</span>
      </button>

      <button mat-menu-item routerLink="signin">
        <mat-icon color="primary">logout</mat-icon>
        <span>Signout</span>
      </button>
    </mat-menu>
  </div>

  <div>
    <mat-menu #incomeMenu="matMenu">

      <button mat-menu-item routerLink="all">
        <mat-icon color="primary">dashboard</mat-icon>
        <span>All</span>
      </button>

      <button mat-menu-item routerLink="income">
        <mat-icon color="primary">add</mat-icon>
        <span>Add Income</span>
      </button>

    </mat-menu>
  </div>

  <div>
    <mat-menu #expenseMenu="matMenu">

      <button mat-menu-item routerLink="expenselist">
        <mat-icon color="primary">dashboard</mat-icon>
        <span>All</span>
      </button>

      <button mat-menu-item routerLink="expense">
        <mat-icon color="primary">add</mat-icon>
        <span>Add Expense</span>
      </button>

    </mat-menu>
  </div>
</mat-toolbar>