<form method="get"  #expF="ngForm" action="javascript: void(0);" id="login-form" class="login-form" autocomplete="off" role="main">
  <h1 id="title">Edit your Expenses</h1>
      <div>
        <label class="label-email">
          <span class="required">Choose expense to edit</span></label>
        <mat-form-field appearance="fill" [(ngModel)]="test">
          <mat-label>Choose an option</mat-label>
          <mat-select (selectionChange)="selectExpense($event.value)">
            <mat-option *ngFor="let expense of listExpenses" value="{{expense.idExpense}}" >{{ expense.type }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    <div>
      <label class="label-email">
        <span class="required">Expense Type</span></label>
      <mat-form-field appearance="fill">
        <mat-label>Choose an option</mat-label>
        <mat-select (selectionChange)="changeExpense($event.value)" value="{{currentExpense.type}}">
          <mat-option value="TRANSPORTATION" >Transportation</mat-option>
          <mat-option value="GROCERIES">Groceries</mat-option>
          <mat-option value="INSURANCE">Insurance</mat-option>
          <mat-option value="BILLS">Bills</mat-option>
          <mat-option value="UTILITIES">Utilities</mat-option>
          <mat-option value="SUBSCRIPTIONS">Subscriptions</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <label class="label-email">
        <input type="text" class="text" name="price" placeholder="$$$$" tabindex="1" required [(ngModel)]="currentExpense.expensePrice"/>
        <span class="required">Expense Price</span>
      </label>
    </div>
    <div>
        <label class="label-email">
          <input type="text" class="text" name="cash" placeholder="$$$$" tabindex="1" required [(ngModel)]="currentExpense.expenseCash"/>
          <span class="required">Expense Cash</span>
        </label>
      </div>
      <div>
        <label class="label-email" for="StartDate"><span class="required">Registration Date</span></label>
        <input type="date" class="text" id="birthday" name="startdate" tabindex="1" required [(ngModel)]="currentExpense.expenseRegistrationDate" >
      </div>
      <div>
        <label class="label-email" for="ExpireDate"><span class="required">Expire Date</span></label>
        <input type="date" class="text" id="birthday" name="expiredate" tabindex="1" required [(ngModel)]="currentExpense.expenseExpireDate">
      </div>
      <div>
        <label class="label-email" for="EndDate"><span class="required">End Date</span></label>
        <input type="date" class="text" id="birthday" name="enddate" tabindex="1" required [(ngModel)]="currentExpense.expenseEndDate">
      </div>
      <div>
        <section class="example-section" >
          <label class="example-margin">Paid?</label>
          <mat-radio-group (change)="updatePaid($event.value)" value="{{currentExpense.expensePayment}}" >
            <mat-radio-button class="example-margin" value="true">Yes</mat-radio-button>
            <mat-radio-button class="example-margin" value="false">No</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
    <input type="submit" (click)="updateExpense()"  value="update"  [disabled]="!expF.valid"/>
    <input type="submit" (click)="deleteExpense()" value="delete" />
  </form>
