<form method="get" action="javascript: void(0);" id="login-form" class="login-form" autocomplete="off" role="main">
    <h1 class="a11y-hidden">Income</h1>
    <div *ngIf="!submitted">
    <div>
      <label class="label-email">
        <input type="text" class="text" name="text" placeholder="Source" tabindex="1" required  [(ngModel)]="income.incomeSource"/>
        <span class="required">Income Source</span>
      </label>
    </div>
    <div>
      <label class="label-email">
        <input type="text" class="text" name="text" placeholder="$$$$" tabindex="1" required [(ngModel)]="income.incomeMoney"/>
        <span class="required">Income Money</span>
      </label>
    </div>
    <div>
      <label class="label-email">
        <input type="email" class="text" name="text" placeholder="Describe your income" tabindex="1" required [(ngModel)]="income.description"/>
        <span class="required">Description</span>
      </label>
    </div>
      <div>
        <label class="label-email" for="StartDate"><span class="required">Start Date</span></label>
        <input type="date" class="text" id="birthday" name="startdate" tabindex="1" required [(ngModel)]="income.incomeStartDate">
      </div>
      <div>
        <label class="label-email" for="EndDate"><span class="required">End Date</span></label>
        <input type="date" class="text" id="birthday" name="enddate" tabindex="1" required [(ngModel)]="income.incomeEndDate">
      </div>
      <div>
        <label class="label-email" for="ExpireDate"><span class="required">Expire Date</span></label>
        <input type="date" class="text" id="birthday" name="expiredate" tabindex="1" required [(ngModel)]="income.incomeExpireDate">
      </div>
    <input type="submit" (click)="addIncome()" value="Add" />
    <input type="submit" (click)="updateIncome()" value="Update" />
    <input type="submit"  (click)="deleteIncome()"value="Delete" />
    <input type="submit" (click)="saveChanges()" value="Save Changes" />
    <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
    </div></div>
  </form>
