<form method="get" action="javascript: void(0);" id="login-form" class="login-form" autocomplete="off" role="main">
  <h1 id="title">Edit your Profile</h1>
  <div>
    <label class="label-email">
      <input type="text" class="text" name="username" placeholder="Username" tabindex="1" required
        [(ngModel)]="currentUser.username" />
      <span class="required">Username</span>
    </label>
  </div>
  <div>
    <label class="label-email">
      <input type="text" class="text" name="firstName" placeholder="First Name" tabindex="1" required
        [(ngModel)]="currentUser.firstName" />
      <span class="required">First Name</span>
    </label>
  </div>
  <div>
    <label class="label-email">
      <input type="text" class="text" name="lastName" placeholder="Last Name" tabindex="1" required
        [(ngModel)]="currentUser.lastName" />
      <span class="required">Last Name</span>
    </label>
  </div>
  <div>
    <label class="label-email">
      <input type="email" class="text" name="email" placeholder="Email" tabindex="1" required
        [(ngModel)]="currentUser.email" />
      <span class="required">Email</span>
    </label>
  </div>
  <div>
    <label class="label-email">
      <span>Gender</span>
    </label>
    <input type="radio" name="male" class="gender" value="MALE" id="male" [(ngModel)]="currentUser.gender"> <label
      for="male">Male</label>
    <input type="radio" name="female" class="gender" value="FEMALE" id="female" [(ngModel)]="currentUser.gender"><label
      for="female">Female</label>
  </div>
  <div>
    <label class="label-email" for="birthday"><span class="required">Birthday</span></label>
    <input type="date" class="text" id="birthday" name="birthday" tabindex="1" [(ngModel)]="currentUser.birthDate">
  </div>
  <div>
    <label class="label-email">
      <input type="text" class="text" name="address" placeholder="Address" tabindex="1"
        [(ngModel)]="currentUser.address" />
      <span class="required">Address</span>
    </label>
  </div>
  <div>
    <label class="label-email">
      <input type="text" class="text" name="profession" placeholder="profession" tabindex="1"
        [(ngModel)]="currentUser.profession" />
      <span class="required">Profession</span>
    </label>
  </div>
  <div>
    <label class="label-email">
      <input type="text" class="text" name="phoneNum" placeholder="+216 *** *** **" tabindex="1"
        [(ngModel)]="currentUser.phoneNum" />
      <span class="required">Phone Number</span>
    </label>
  </div>
  <input type="submit" value="Save" (click)="updateUser()" routerLink="user" />
</form>